GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=3100
CORS_ORIGINS=http://127.0.0.1:10767,http://localhost:10767,http://127.0.0.1:3058,http://localhost:3058
REQUEST_TIMEOUT_MS=7000
UPSTREAM_TIMEOUT_MS=5500
SEARCH_CACHE_TTL_MS=600000
LYRICS_CACHE_TTL_MS=3600000
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_PER_KEY_PER_MINUTE=12
CIRCUIT_FAILURE_THRESHOLD=5
CIRCUIT_RESET_MS=30000
